:root{
    font-size: 20px;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: grid;
    grid: 1fr 2fr 12fr / 20vw 80vw;
    overflow: auto;
}

li > a {
    text-decoration: none;
    color: white;
}

input {
    background-color: #e7e5e4;
    border: none;
    border-radius: 10px;
    width: 40vw;
}

#sidebar {
    background-color: blue;
    grid-area: 1 / 1 / 4 / 2;
    color: white;
    font-size: 1.5rem;
    padding-top: 20px;
}

#sidebar > div {
    text-align: center;
}

#maincontent {
    background-color: #e7e5e4;
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid: 0.5fr 3fr 0.5fr 3fr / 2fr 1fr ;
    gap: 15px;
    padding: 0px 1vw 15px 1vw;
    box-shadow: inset 1px 6px 7px 0px rgba(0,0,0,0.33);
}

#navbar {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#navbar > div {
    display: flex;
    gap: 5vh;
    align-items: center;
}

#navbar > div > img {
    height: 5vh;
    border-radius: 100%;
    margin-right: -25px;
}

form {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.icon-button {
    background: none;
    border: none;
    height: auto;
}

#actionsbar {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

span {
    font-weight: 900;
}

#actionsbar > img {
    height: 9vh;
    width: 9vh;
    border-radius: 100%;
    margin-right: 2%;
} 

#actionsbar > div {
    margin-left: 35vw;
    display: flex;
    gap: 2vw;
}

#actionsbar > div > button {
    background-color: blue;
    color: white;
    border: none;
    height: 5vh;
    width: 5vw;
    border-radius: 50px;
    padding: 10px;
}

#projects {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2vw; 
    grid-area: 2 / 1 / 5 / 2;
}

#projects-title{
    grid-area: 1 / 1 / 2 / 2;
}

#ann-title {
    grid-area: 1 / 2 / 2 / 3;
}

#announcements {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid green;
    box-shadow: 1px 4px 7px 0px rgba(0,0,0,0.33);
}

.anncard{
    background-color: white;
    flex-grow: 1;
    border-radius: 10px;
    border-bottom: #e7e5e4 solid 1px;
    box-shadow: 1px 4px 7px 0px rgba(0,0,0,0.33);
}

#trend-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 4px 7px 0px rgba(0,0,0,0.33);
}

#trending {
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid: 1fr / 1fr;
}


